HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Uploaded files (runtime data) ###
# 용량 때문에 제외 ( 나중에 집에 가면 이미지 안나옴)
src/main/resources/upload/

# 아이디, 패스워드가 있어서 보안 때문에 제외
src/main/resources/application.properties